<view title="'BabyManisha.Sunkara'">

  <div class="bar bar-subheader item-input-inset">
    <div class="bar bar-header">
      <h1 class="title">Profile</h1>
    </div>
  </div>

  <content has-header="true" has-subheader="true">
    <div class="list card">

      <div class="item">
        <img class="profile-img" src="/img/profile.jpg">
      </div>

      <div class="item item-body">
        <div class="row">
          <div class="col">
            <b>Name ::</b>
          </div>
          <div class="col">
            BabyManisha. Sunkara
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Role ::</b>
          </div>
          <div class="col">
            UI Developer
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Qualification ::</b>
          </div>
          <div class="col">
            MCA
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>City ::</b>
          </div>
          <div class="col">
            Vijayawada
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Career Goal ::</b>
          </div>
          <div class="col">
            To obtain an exciting and challenging position as a JavaScript Web Developer,
            to further enhance organizational worth owing to my knowledge in HTML, CSS, JavaScript, JQuery, JSON and Vue.js
          </div>
        </div>

        <p>
          <a href="https://drive.google.com/file/d/0B1PDIE00NI5aRjVxSzBRaGhGUW8/view?usp=sharing">More..</a>
        </p>

        <div class="row item-divider">
          <div class="col">
            <a href="#" class="subdued">100 Like</a>
          </div>
          <div class="col">
            <a href="#" class="subdued">55 Shares</a>
          </div>
          <div class="col">
            <a href="#" class="subdued">75 Comments</a>
          </div>
        </div>
      </div>

    </div>
  </content>

</view>
