<view title="project.tittle">
  <content has-header="true" padding="true">

    <div class="row">
      <div class="col col-25 col-offset-25">
        <img src="/img/{{project.img }}" width="200" height="200"/>
      </div>
    </div>

    <div class="row item-divider">
      <div class="col">
        <h4>{{ project.objective }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="wrap">{{ project.description }}</p>
      </div>
    </div>

    <div class="row item-divider">
      <div class="col">
        Like <i class="ion-thumbsup"></i>
      </div>
      <div class="col">
        Star <i class="ion-star"></i>
      </div>
      <div class="col">
        Share <i class="ion-share"></i>
      </div>
      <div class="col">
        Comment <i class="ion-chatbox-working"></i>
      </div>
    </div>

  </content>
</view>
